/* GLOBALS */

*{
  margin: 0;
  padding: 0;
  font-family: verdana;
}

body{
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-bottom: 20vh;
}

/* HEADER */
header{
  background-color: black;
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
header .container{
  position: relative;
  width: 80%;
  height: 50%;
  margin: auto;
}
#logoContainer{
  color: white;
  font-weight: bold;
}

#logoContainer p{
  font-family: serif;
}
#navContainer{
  text-align: right;
}
#navContainer a{
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 20px;
  height: 100%;
  top: 5px;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;

}
#navContainer a:hover{
  color: orange;
}

/* FORM SECTION */
.formContainer{
  position: relative;
  top: 10vh;
  width: 30%;
  margin: auto;
  height: 30vh;
}
form{
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;

}
input{
  width: 100%;
}
#titleInput{
  position: relative;
  width: 100%;
  height: 30px;
  margin: 5px 0 5px 0;
  padding: 0;
  resize: none;
}
#textInput{
  position: relative;
  height: 70px;
  width: 100%;
  margin: 5px 0 5px 0;
  padding: 0;
  text-align: left;
  resize: none;

}

.bool{
  display: inline;
  width: 10%;
  margin: 10px 0px 10px 0px;
}
button{
  width: 30%;
  height: 30px;
  margin: auto;
  position: relative;
  border-radius: 12px;
  border: 2px solid black;
  font-weight: bold;
  background-color: white;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
button:hover{
  background-color: black;
  color: white;
}

/* POSTS */
.postsContainer{
  position: relative;
  height: 35vh;
  width: 30%;
  margin: auto;
  top: 10vh;
  text-align: left;
}

section div{
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 10px;
}
.timestampContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.timestampContainer p{
  padding: 5px;
}

#deleteButton{
  position: relative;
  width: 60px;
  float: right;
  padding: 5px;
  font-size: 12px;

}

/* FOOTER */
footer{
  background-color: black;
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer .container{
  width: 80%;
  height: 50%;
  margin: auto;
}

footer .container p{
  color: white;
  padding: 10px;
  font-size: 14px;
}

footer .container img, footer .container a{
  height: 40px;
  width: 40px;
  float: right;
  margin: 0px 5px 0px 5px;
}

@media only screen and (max-width: 1200px) {
  .postsContainer, .formContainer{
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .postsContainer, .formContainer{
    width: 90%;
  }

  footer .container{
    width: 100%;
  }
}

@media only screen and (max-height: 500px) {
  header{
    height: 20vh;
    position: relative;
  }
  .formContainer{
    margin-bottom: 30vh;
  }
  .postsContainer{
    height: 70vh;
  }

  footer{
    height: 20vh;
    position: relative;
    top: 20vh;
  }

}
